# Environment & Keys
.env
.env.backup
.env.production
storage/*.key
/storage/pail
/auth.json

# Dependencies & Build Files
/node_modules/
node_modules/
/vendor/
/public/build
/public/fonts-manifest.dev.json
/public/hot
/public/storage
public/storage
public/hot
public_html/storage
public_html/hot

# Logs
*.log
npm-debug.log
yarn-error.log

# IDEs, Editors & OS Files
.DS_Store
Thumbs.db
/.codex
/.cursor/
/.idea
/.nova
/.vscode
/.zed
.phpactor.json
_ide_helper.php
Homestead.json
Homestead.yaml
/.vagrant

# Cache & Testing
.phpunit.result.cache
/.phpunit.cache
bootstrap/compiled.php
app/storage/
