@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';

@theme {
    --font-poppins: 'Poppins', sans-serif;

    --color-ajeng-white: #FFFFFF;
    --color-ajeng-black: #000000;
    --color-ajeng-pink: #FF7797;
    
    --color-ajeng-dark-1: #4B4B4B;
    --color-ajeng-dark-2: #424242;
    
    --color-ajeng-gray-1: #929292;
    --color-ajeng-gray-2: #A9A9A9;
    --color-ajeng-gray-3: #BDB9B9;
    --color-ajeng-gray-4: #DEDEDE;
    --color-ajeng-gray-5: #F4F4F4;
    
    --color-ajeng-bg-pink-1: #FFF1F4;
    --color-ajeng-bg-pink-2: #FDF5F7;
}